appdirs==1.4.3
beautifulsoup4==4.4.1
chardet==2.3.0
decorator==4.0.4
ipython==4.0.0
ipython-genutils==0.1.0
mysql-connector==2.1.4
MySQL-python==1.2.5
packaging==16.8
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
pyparsing==2.2.0
python-magic==0.4.13
python-slugify==1.1.4
simplegeneric==0.8.1
six==1.10.0
traitlets==4.0.0
Unidecode==0.4.18