nginx-proxy/certs/**/
nginx-proxy/certs/*.key
nginx-proxy/certs/*.crt
nginx-proxy/certs/*.pem
newarasaac/materials
newarasaac/watcher/app/*.log
newarasaac/watcher/app/.config
newarasaac/mongodb/dbdata/*
!newarasaac/mongodb/dbdata/.gitkeep
./**/*.log
.DS_Store
