<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title></title>
</head>
<body>
img(src='https://static.arasaac.org/images/arasaac-logo.png')
p= `${t('Hi')} ${name},`
p!= `<a href='www.marca.com/${token}'>${t('activateUserText')},</a>`
</body>
</html>