MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=saac
MYSQL_USER=arasaac
MYSQL_PASSWORD=password
FOLDER_SVGS=/app/svg
HOST_MONGO=mongodb
HOST_MYSQL=db
MONGO_DATABASE=arasaac
MONGO_USER=arasaac
MONGO_PASSWORD=password
FOLDER_LOCUTIONS=/app/locutions
FOLDER_SVGS=/app/svg

