doctype transitional
html
  head
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    meta(charset='utf-8')
    style
      include style.css
  </head>

  body
      p= `${name} ha subido un material.`
      a(href=materialUrl)
        .button= `Ver material`




