doctype transitional    
html
  head
    meta(charset='utf-8')
    style
      include style.css
  </head>

  body
      p= `${name} ha realizado una traducción de un material al idioma ${t(targetLanguage)}`
      a(href=materialUrl)
        .button= `Ver material`




